[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
statsmodels = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
